In [84]:

#task 1, Q1

def moving_avg(lst,n):
    x = np.ones(n) / n
    return np.convolve(lst,x,mode='valid')
l= [3,5,7,2,8,10,11,65,72,81,99,100,150]
moving_avg(l,3)

array([  5.        ,   4.66666667,   5.66666667,   6.66666667,
         9.66666667,  28.66666667,  49.33333333,  72.66666667,
        84.        ,  93.33333333, 116.33333333])

In [85]:
#task 2, q1
import pandas as pd
import numpy as np
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
x=np.array(df.values).tolist()
num = 0
l1 = []
for i in x:
    if i[0] != 0:
        num += 1
    else:
        num = 0
    l1.append(num)
y = pd.Series(l1)
df['y']= y.values
df

   X  y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

In [78]:

#task 2, q2
import pandas as pd
import numpy as np
from numpy.random import randint as ri

dtidx=pd.date_range('2015-01-01', '2015-12-31')
rand = np.array(ri(1,500,365))
s = pd.Series(rand,dtidx)
x=s.resample('B',how='last')
x

C:\Users\bharath\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).last()

2015-01-01     32
2015-01-02    235
2015-01-05    461
2015-01-06    417
2015-01-07     20
2015-01-08    489
2015-01-09     50
2015-01-12    110
2015-01-13    423
2015-01-14    248
2015-01-15    451
2015-01-16    355
2015-01-19    370
2015-01-20    449
2015-01-21    345
2015-01-22    325
2015-01-23    370
2015-01-26    346
2015-01-27     56
2015-01-28    330
2015-01-29    406
2015-01-30    140
2015-02-02    441
2015-02-03    283
2015-02-04    225
2015-02-05    342
2015-02-06    147
2015-02-09    202
2015-02-10    110
2015-02-11    293
             ...
2015-11-20    138
2015-11-23    281
2015-11-24    303
2015-11-25     42
2015-11-26    436
2015-11-27    465
2015-11-30    154
2015-12-01    396
2015-12-02     23
2015-12-03    315
2015-12-04     88
2015-12-07    326
2015-12-08    436
2015-12-09    183
2015-12-10    356
2015-12-11    275
2015-12-14    349
2015-12-15    457
2015-12-16    246
2015-12-17    133
2015-12-18    158
2015-12-21     72
2015-12-22     71
2015-12-23    218
2015-12-24     80
2015-12-25    193
2015-12-28      3
2015-12-29    311
2015-12-30    216
2015-12-31    349
Freq: B, Length: 261, dtype: int32

In [80]:
#task 2, q3
s.resample('w-wed').sum()

2015-01-07    1865
2015-01-14    1838
2015-01-21    2540
2015-01-28    1883
2015-02-04    2114
2015-02-11    1792
2015-02-18    2160
2015-02-25    2876
2015-03-04    2061
2015-03-11    1869
2015-03-18    1316
2015-03-25     995
2015-04-01    2358
2015-04-08     988
2015-04-15    1900
2015-04-22    2212
2015-04-29    1729
2015-05-06    1051
2015-05-13    1481
2015-05-20    2190
2015-05-27    1855
2015-06-03    1293
2015-06-10    2152
2015-06-17    1723
2015-06-24    1081
2015-07-01    1263
2015-07-08    1783
2015-07-15    2703
2015-07-22    1576
2015-07-29    1545
2015-08-05    1579
2015-08-12    1541
2015-08-19    1111
2015-08-26    1355
2015-09-02    2257
2015-09-09    1366
2015-09-16    1409
2015-09-23    2209
2015-09-30    2355
2015-10-07    1244
2015-10-14    1935
2015-10-21    2068
2015-10-28    2228
2015-11-04    1656
2015-11-11    2047
2015-11-18    2409
2015-11-25    1094
2015-12-02    2161
2015-12-09    1820
2015-12-16    2169
2015-12-23    1459
2015-12-30    1517
2016-01-06     349
Freq: W-WED, dtype: int32

In [82]:
#task 2, q4
s.resample('1m').mean()

2015-01-31    295.193548
2015-02-28    307.142857
2015-03-31    239.483871
2015-04-30    245.466667
2015-05-31    236.290323
2015-06-30    222.166667
2015-07-31    263.258065
2015-08-31    222.612903
2015-09-30    259.433333
2015-10-31    267.161290
2015-11-30    271.366667
2015-12-31    249.451613
Freq: M, dtype: float64

In [83]:
#task 2, q5
s.resample('4m').max()

2015-01-31    496
2015-05-31    496
2015-09-30    494
2016-01-31    497
dtype: int32